/* Palette */
:root {
    --primary-color: #61cccc;
    --blue: #6cb9e8;
    --secondary-color: #1f1f1f;
    --accent-color: #00ffaa;
    --accent-color2: #007a52;
    --font: "Lucida Console", Courier, monospace;
}

.headerText-2z4IhQ>div>svg {
    height: 16px;
    width: 16px;
    overflow-y: hidden;
}

.embedVideoImageComponent-3Clc3C {
    justify-content: unset;
    align-items: unset;
}

.cozy-3raOZG.headerText-3Uvj1Y>.username-1A8OIy {
    margin-left: 3px;
}

.audioMetadata-3zOuGv::before {
    min-width: 24px;
}

.topic-TCb_qw>.wrapper-3WhCwL>.channelIcon-1MN1lz,
.embedFooterText-28V_Wb>.wrapper-3WhCwL>.channelIcon-1MN1lz {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}

[class*="accountProfilePopoutWrapper-"]>div>div>[class*="bannerSVGWrapper-"],
[class*="accountProfilePopoutWrapper-"]>div>div>[class*="avatarWrapper-"],
[class*="accountProfilePopoutWrapper-"]>div>div>[class*="profileBadges-"],
[class*="accountProfilePopoutWrapper-"]>div>div>[class*="userPopoutOverlayBackground-"]>[class*="divider-"],
[class*="accountProfilePopoutWrapper-"]>div>div>[class*="userPopoutOverlayBackground-"]>[class*="section-"],
[class*="accountProfilePopoutWrapper-"]>div>div>[class*="userPopoutOverlayBackground-"]>[class*="scroller-"] { 
    display: none;
}

*, div, span, [class*="heading-lg/"], [data-text-variant^="eyebrow"], [class*="inner_"], [class*="wrapper_"], [class*="flex_"], [id*="key-recorder"], [class*="recorderContainer_"], [class^="value_"], [class="vc-plugins-filter-controls"], [data-text-variant^="heading-xl/"], [class^="text-sm/"], [class^="inputDefault_"], [class^="h1_"], [class^="h3_"], [class^="featureCards_"], [style="color: var(--text-muted);"], [class^="inputWrapper_"], [class^="flexChild_"], [class^="tools_"], [role^="tab"], [class^="value_"], [class^="h5_"], [class^="overflow_"], [class^="label_"], [class^="contents_"], [class^="input_"], [class^="defaultColor_"], [aria-label="Pronouns"], [class^="text-md/"], [class^="text-xs/"], [class^="layerContainer_"], [class^="textarea_"] {
    font-family: var(--font);
}

a[href*="https://"], div.state_d5089b.ellipsis_d5089b.textRow_d5089b>span>a, div>div.detailsWrap_d5089b.textRow_d5089b>span>a.anchor_af404b.anchorUnderlineOnHover_af404b.bodyLink_d5089b.activityName_d5089b, a[class="anchor_af404b anchorUnderlineOnHover_af404b"]>span, a[href*="http://"], [role="link"], [class*="contents_"], [class*="anchor_"], a[href*="//discord.com/"], [class*="fakeLink_"], div.item_a0.themed_a0[role="tab"][aria-label="Merch"] {
    color: var(--accent-color);
}

div>a.anchor_af404b.anchorUnderlineOnHover_af404b.bodyLink_d5089b.activityName_d5089b, div.colorStandard_fbc755.size14_fb468f.default_b89ec7.formText_b89ec7.vc-spotify-ellipoverflow.modeDefault_b89ec7[id="vc-spotify-song-title"] {
    color: var(--accent-color2);
}

div.premiumTab_c10c74.item_a0.themed_a0[role="tab"][aria-label="Nitro"]>div {
    color: rgb(170, 0, 210);
}

div>h2.defaultColor_a595eb.heading-xl\/semibold_dc00ef.defaultColor_e9e35f.header_f1f9c9:after {
    content: " fucking loser lmao.";
}

div>img.splashImage_f1f9c9[alt="Blocked Payments"] {
    content: url('https://youwilldie.neocities.org/discord.png');
}

span.botText_a02df3 {
    content: url('https://youwilldie.neocities.org/app.PNG');
}

footer>button.button_dd4f85.lookBlank_dd4f85.buttonColor_be6801.sizeLarge_dd4f85.fullWidth_dd4f85.grow_dd4f85>div {
    color: whitesmoke;
}

foreignObject>div>div>img.childWrapper_f90abb.childWrapperNoHoverBg_f90abb[alt="App Icon"] {
    content: url('https://i.scdn.co/image/ab67616d00001e022735d2f9a170554a05d3d803');
}

img.vc-settings-quick-actions-img {
    content: url('https://youwilldie.neocities.org/icon.png');
}

div.field_b69b77.fieldSpacer_b69b77>div>div>div>span>button>div.contents_dd4f85 {
    color: #ff6161;
}

div.field_b69b77.fieldSpacer_b69b77>div>div>div>span>button>div.contents_dd4f85:hover {
    color: #b72424;
}

div.socialLinks_c44e94>.anchor_af404b.anchorUnderlineOnHover_af404b.link_c44e94:hover {
    color: var(--blue);
}

div.item_a0.themed_a0[role="tab"][aria-label="Log Out"] {
    color: red;
}

div.item_a0.themed_a0[role="tab"][aria-label="Log Out"]:hover {
    animation: c-c 0.5s forwards;
}

@keyframes c-c {
    0% {
        color: red;
    }
    100% {
        color: rgb(129, 0, 0); /* or color: inherit; */
    }
}

@keyframes w-w {
    0% {
        color: var(--accent-color);
    }
    100% {
        color: var(--blue);
    }
}

button.button_dd4f85.lookLink_dd4f85.lowSaturationUnderline_c7819f.colorTransparent_dd4f85.sizeMedium_dd4f85.grow_dd4f85 div:after {
    content: " and die >w<";
}

div.vc-settings-card.vc-settings-donate.cardPrimary_a298b8.card_a298b8>img {
    content: url('https://media1.tenor.com/m/NeYLaiQPbpAAAAAd');
}

::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    font-family: var(--font);
}
  
::-moz-placeholder { /* Firefox */
    font-family: var(--font);
}
  
::-ms-input-placeholder { /* Internet Explorer */
    font-family: var(--font);
}
  
::placeholder { /* Discord */
    font-family: var(--font);
}

/*/// SCROLLBAR \\\*/

/*// Chrome, Safari, Opera \\*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border: 6px;
    border-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    outline: 0px solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #61aaaa;
}

/*// Firefox \\*/

::-moz-scrollbar {
    width: 6px;
}

::-moz-scrollbar-track {
    border: 6px;
    border-color: var(--primary-color);
}

::-moz-scrollbar-thumb {
    background-color: var(--primary-color);
    outline: 0px solid;
}

::-moz-scrollbar-thumb:hover {
    background: #61aaaa;
}

/*/ Internet Explorer \\*/

::-ms-scrollbar {
    width: 6px;
}

::-ms-scrollbar-track {
    border: 6px;
    border-color: var(--primary-color);
}

::-ms-scrollbar-thumb {
    background-color: var(--primary-color);
    outline: 0px solid;
}

::-ms-scrollbar-thumb:hover {
    background: #61aaaa;
}

/*// Discord \\*/

scrollbar {
    width: 6px;
}

scrollbar-track {
    border: 6px;
    border-color: var(--primary-color);
}

scrollbar-thumb {
    background-color: var(--primary-color);
    outline: 0px solid;
}

scrollbar-thumb:hover {
    background: #61aaaa;
}

/* END */

:is([class*="userTagWithNickname"], [class*="nameTagSmall"]) span:only-child:before {
    content: '@';
}
