/*comet*/

body{
    background-color: #222222;
}
#voidText{
    text-shadow: 3px 3px #660000;
    font-size: 30px;
}
#mainTable {
    font-family: "Lucida Console", Courier, monospace;
    border-collapse: collapse;
    width: 100%;
    color: #61cccc;
}
#mainTable td, #mainTable th {
    border: 2px solid #61cccc;
    padding: 8px;
}
#mainTable tr{
    background-color: #222222;
}
#mainTable th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #212121;
    color: #61cccc;
}
.container{
    border: 2px;
    border-color: #61cccc;
    background: #1a1a1a;
    border-style: solid;
    padding: 15px;
    width: 80%;
}
#banner{
    border: 2px;
    text-align: center;
    border-style: solid;
    border-color: #61cccc;
    background: #1a1a1a;
    padding: 5px;
    overflow: hidden;
}
#scrolling-text{
    color: #61cccc;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-anim 30s linear infinite;
    -webkit-animation: scroll-anim 30s linear infinite;
    animation: scroll-anim 30s linear infinite;
}
#piranha{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
@-moz-keyframes scroll-anim{
    from{ -moz-transform: translateX(100%); }
    to{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-anim{
    from{ -moz-transform: translateX(100%); }
    to{ -moz-transform: translateX(-100%); }
}
@keyframes scroll-anim{
    from{
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to{
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
.title{
    color: #61cccc;
    text-align: center;
    font-size: 55px;
    font-family: "Lucida Console", Courier, monospace;
}
.navbar{
    border: 2px;
    text-align: center;
    border-style: solid;
    border-color: #61cccc;
    background: #1a1a1a;
    padding: 5px;
    width: 50%;
    margin: auto;
}
.separator{
    width: 1px;
    color: #61cccc;
    text-align: center;
    display: inline-block;
}
a{
    color: #00ffaa;
    font-family: "Lucida Console", Courier, monospace;
}
h1{
    color: #61cccc;
    font-family: "lucida console", courier, monospace;
}
p{
    color: #61cccc;
    font-family: "Lucida Console", Courier, monospace;
}
hr.title{
    border: 1px dashed #61cccc;
    position: relative;
    bottom: 25px;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbra-track{
    border: 6px;
    border-color: #61cccc;
}
::-webkit-scrollbar-thumb{
    background-color: #61cccc;
    outline: 0px solid;
}
::-webkit-scrollbar-thumb:hover{
    background: #61aaaa;
}
